body{
    font-family: 'Lato', sans-serif;
}

/*header related styles */
header{
    margin-top: 0px;
    width: 1920px;
    height:850px;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    margin-bottom: 0px;
    
}

.header_pic{
    margin:50px 200px 0px 0px;
    width: 635px;
    height: 800px;
}

.header_title{
    width: 708px;
    height: 288px;
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin: 197px 0px 0px 240px;

}

.header_description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    max-width: 634px;
    margin: 32px 0px 0px 240px;
}

.common_button{
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border: 0;
    margin: 32px 0px 0px 240px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

/*main related styles */

/*featured flowers related style */

.featured_flowers_heading{
    margin: 178px 0px 0px 764px;
    color: #272727;
    /*text-align: center;*/
    font-size: 40px;
    font-weight: 800;
}

.featured_flowers_paragraph{
    color: rgba(39, 39, 39, 0.60);
    /*text-align: center; */
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 24px 0px 0px 664px ;
}


.featured_flowers_pics{
    margin-top: 58px;
    margin-left: 240px;
    width: 464px;
    height: 538px;
    gap:24px;
    display: flex;
}

.featured_flowers_pic1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 310px;
    height: 428px;
    padding: 110px 75px 0px 75px;
}

.featured_flowers_pic2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 370px;
    height: 370px;
    padding: 117px 47px 51px 57px;

}

.featured_flowers_pic3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 314px;
    height: 471px;
    padding: 67px 75px 0px 75px;
}

.flower_names{
    text-decoration: underline;
    text-align: center;
    display: flex;
    gap:320px;
    margin-left: 381px;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;

}

/*service related style */
.services{
    width: 1440px;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-top: 128px;
    margin-left: 240px;


}
.services_pics{
    width:88px;
    height:88px;
    padding: 86px 232px 24px 232px ;
    gap:360px;
    display: flex;
}
.services_paragraph{
    display: flex;
    gap: 90px;
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    padding: 0px 170px 87px 150px ;
    margin-bottom:0px;
}

/*hot deals section */

.hot_deals{
    margin-top: 128px;
    width:1992px;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-between;
}

.hot_deals_heading{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin:230px 0px 0px 423px;
}

.hot_deals_paragraph{
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    /*text-align: center; */
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin:24px 0 32px 395px ;
}

.hot_deals_pic{
    width: 318px;
    height: 420px;
    margin: 100px 429px 100px 0px;
}

/*instagram section style */

.instagram{
    margin:128px ;
}

.instagram_heading{
    color: #272727;
    /*text-align: center; */
    margin: 0 0 24px 870px;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.instagram_paragraph{
    width: 610px;
    color: rgba(39, 39, 39, 0.60);
    margin-left: 663px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.next_line{
    margin-left: 100px;
}

.instagram_images{
    display: flex;
    gap:24px;
    margin-left: 240px ;
    margin-bottom: 128px;
}

.latest_deals{
    background-image: url("media/pic13.png");
    background-repeat: no-repeat;
    width: 1440px;
    height: 449px;
    border-radius: 8px;
    margin: 0 370px 20px 370px;
    padding-top: 122px;
}

.latest_deals_heading{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin: 0px 0px 16px 533px;
}
.latest_deals_para{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 604px ;

}

input {
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    margin: 48px 0 121px 287px;
    border: 0px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    text-indent: 20px;
    font-weight: 400;
}

.subscribe_btn{
    margin: 48px 0px 121px 16px;
} 

footer{
    padding-top: 128px;
    width: 2010px;
    height: 449px;
    background: #111010;
}

.footer_heading{
    margin-left: 831px;
    color:#FFF;
    font-size: 48px;
    margin-bottom: 0px;

}

.footer_para{
    width: 625px;
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 648px;
    margin-top: 24px;
    margin-bottom: 32px;
}

.license{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
    margin-left: 748px;
}