body{
    font-family: 'Lato', sans-serif;
}

/*header related styles */
header{
    margin-top: 0px;
    width: 1920px;
    height:850px;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    margin-bottom: 0px;
    
}

.header_pic{
    margin:50px 200px 0px 0px;
    width: 635px;
    height: 800px;
}

.header_title{
    width: 708px;
    height: 288px;
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin: 197px 0px 0px 240px;

}

.header_description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    max-width: 634px;
    margin: 32px 0px 0px 240px;
}

.shopnow_button{
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border: 0;
    margin: 32px 0px 0px 240px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

/*main related styles */

/*featured flowers related style */

.featured_flowers_heading{
    margin-top: 178px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.featured_flowers_paragraph{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
}

.featured_flowers_pics{
    margin-top: 58px;
    margin-left: 240px;
    width: 464px;
    height: 538px;
    gap:24px;
    display: flex;
}

.featured_flowers_pic1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 310px;
    height: 428px;
    padding: 110px 75px 0px 75px;
}

.featured_flowers_pic2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 370px;
    height: 370px;
    padding: 117px 47px 51px 57px;

}

.featured_flowers_pic3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 314px;
    height: 471px;
    padding: 67px 75px 0px 75px;
}

/*service related style */
.services{
    width: 1440px;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-top: 128px;
    margin-left: 240px;


}
.services_pics{
    width:88px;
    height:88px;
    padding: 86px 232px 24px 232px ;
    gap:350px;
    display: flex;
}
.services_paragraph{
    display: flex;
    gap: 100px;
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    padding: 0px 170px 87px 160px ;
}



